<!DOCTYPE html>
<html lang="he">
<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <h2>🎮 Explore Games!</h2>
        <div class="game-gallery">
            <% games.forEach(game => { %>
                <div class="game-card">
                    <img src="<%= game.image %>" alt="<%= game.name %>">
                    <h3><%= game.name %></h3>
                    <a href="/games/game-info/<%= game.id %>" class="btn">📜 פרטי המשחק</a>
                </div>
            <% }) %>
        </div>
    </div>
    <%- include('partials/footer') %>
    <script src="/js/infiniteScroll.js"></script>

</body>
</html>
